In [12]:
import pandas as pd

In [13]:
vehicle_df = pd.read_csv('../vehicles_us.csv')

In [14]:
vehicle_df.head(20)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17
10,19500,2011.0,chevrolet silverado 1500,excellent,8.0,gas,128413.0,automatic,pickup,black,1.0,2018-09-17,38
11,8990,2012.0,honda accord,excellent,4.0,gas,111142.0,automatic,sedan,grey,NaN,2019-03-28,29
12,18990,2012.0,ram 1500,excellent,8.0,gas,140742.0,automatic,pickup,NaN,1.0,2019-04-02,37
13,16500,2018.0,hyundai sonata,excellent,4.0,gas,22104.0,automatic,sedan,silver,NaN,2019-01-14,29
14,12990,2009.0,gmc yukon,excellent,8.0,gas,132285.0,automatic,SUV,black,1.0,2019-01-31,24
15,17990,2013.0,ram 1500,excellent,8.0,gas,NaN,automatic,pickup,red,1.0,2018-05-15,111
16,14990,2010.0,ram 1500,excellent,8.0,gas,130725.0,automatic,pickup,red,1.0,2018-12-30,13
17,13990,2014.0,jeep cherokee,excellent,6.0,gas,100669.0,automatic,SUV,red,1.0,2018-08-16,25
18,12500,2013.0,chevrolet traverse,excellent,6.0,gas,128325.0,automatic,SUV,white,1.0,2019-04-09,13
19,13990,2018.0,hyundai elantra,excellent,4.0,gas,31932.0,automatic,sedan,red,NaN,2018-08-25,27

In [15]:
vehicle_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [16]:
vehicle_df['is_4wd'] = vehicle_df['is_4wd'].astype('bool')

In [17]:
vehicle_df.isna().sum()

price              0
model_year      3619
model              0
condition          0
cylinders       5260
fuel               0
odometer        7892
transmission       0
type               0
paint_color     9267
is_4wd             0
date_posted        0
days_listed        0
dtype: int64

In [18]:
vehicle_df.dropna(inplace=True)

In [19]:
vehicle_df.duplicated().sum()

np.int64(0)

In [20]:
vehicle_df['model_year'] = vehicle_df['model_year'].astype(int)

In [21]:
vehicle_df['odometer'] = vehicle_df['odometer'].astype(int)

In [22]:
vehicle_df['date_posted'] = pd.to_datetime(vehicle_df['date_posted'])

In [23]:
vehicle_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29916 entries, 2 to 51523
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         29916 non-null  int64
 1   model_year    29916 non-null  int64
 2   model         29916 non-null  object
 3   condition     29916 non-null  object
 4   cylinders     29916 non-null  float64
 5   fuel          29916 non-null  object
 6   odometer      29916 non-null  int64
 7   transmission  29916 non-null  object
 8   type          29916 non-null  object
 9   paint_color   29916 non-null  object
 10  is_4wd        29916 non-null  bool
 11  date_posted   29916 non-null  datetime64[ns]
 12  days_listed   29916 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 3.0+ MB

In [24]:
vehicle_df.sample(20)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
40089,20000,1960,chevrolet impala,excellent,8.0,gas,1000,automatic,sedan,custom,True,2018-06-30,75
6956,13588,2016,nissan altima,like new,4.0,gas,67000,automatic,sedan,black,True,2018-06-15,16
6945,30487,2015,toyota tundra,like new,8.0,gas,52500,automatic,truck,silver,True,2019-03-26,14
26640,17499,2011,chevrolet silverado 1500,good,8.0,gas,70844,automatic,truck,silver,True,2018-09-04,45
30021,13000,2013,ford f-350 sd,good,8.0,gas,210801,automatic,truck,white,True,2019-02-24,61
2980,2200,2000,ford expedition,good,8.0,gas,212069,automatic,SUV,silver,True,2019-01-23,134
18616,7900,2014,chevrolet cruze,good,4.0,gas,102213,automatic,sedan,custom,True,2018-06-29,7
17659,13495,2004,jeep wrangler,excellent,6.0,gas,75000,manual,SUV,silver,True,2019-01-05,108
14149,4900,1984,chevrolet corvette,good,8.0,gas,173000,automatic,coupe,blue,True,2019-04-05,52
10291,18500,2015,toyota tacoma,salvage,6.0,gas,63000,automatic,truck,grey,True,2018-08-25,63
36126,10337,2012,honda accord,excellent,4.0,gas,97982,automatic,sedan,black,True,2018-06-02,65
33775,15000,2014,gmc sierra,like new,6.0,gas,60000,automatic,pickup,white,True,2018-06-02,68
32320,12950,2013,ford econoline,excellent,8.0,gas,106661,automatic,van,silver,True,2018-08-26,59
21970,4995,2008,dodge grand caravan,good,6.0,gas,115300,automatic,van,custom,True,2018-09-07,26
41538,4000,2012,kia soul,like new,4.0,gas,140000,automatic,hatchback,silver,True,2019-03-24,21
12050,5995,2011,chevrolet traverse,good,6.0,gas,195664,automatic,wagon,silver,True,2018-08-09,37
47145,26000,2015,ford mustang gt coupe 2d,good,8.0,gas,39274,other,coupe,black,True,2019-04-05,27
44920,30800,2016,chevrolet silverado 1500 crew,good,8.0,gas,89998,automatic,pickup,black,True,2019-01-05,44
43352,6995,2015,ford fusion,good,4.0,gas,76300,automatic,sedan,black,True,2019-01-22,38
285,41999,2018,ram 3500,good,6.0,diesel,5127,automatic,truck,black,True,2018-08-03,11

In [25]:
import plotly.express as px

In [27]:
#st.header('Price Distribution') 
#st.write('The price distribution of the vehicles is shown below.')
fig=px.histogram(vehicle_df, x='price', title='Price Distribution')
fig.show()
#st.plotly_chart(fig)

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [43]:
st.header('Vehicle model year vs price')
st.write('The relationship between vehicle model year and price is shown below.')
fig=px.scatter(vehicle_df, x='model_year', y='price', title='Vehicle model year vs price')
st.plotly_chart(fig)

2025-03-11 10:58:33.349 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-11 10:58:33.353 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-11 10:58:33.354 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-11 10:58:33.355 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-11 10:58:33.356 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-11 10:58:33.357 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-11 10:58:33.524 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-11 10:58:33.529 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-11 10:58:33.534 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-11 10:58:33.539 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [9]:
st.header('Vehicle manufacturer vs price')
st.write('The relationship between vehicle manufacturer and price is shown below.')
manufacturer = vehicle_df['model'].s
fig=px.bar(vehicle_df, x='manufacturer', y='price', title='Vehicle manufacturer vs price')
st.plotly_chart(fig)

NameError: name 'st' is not defined